<div class="container">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="card cont-shadow">
        <div class="card-header">
          <div class="row">
            <div class="col-md-1 col-3">
              <i class="fa fa-user edit-header-icon d-sm-block d-none"></i>
              <i class="fa fa-user edit-header-icon d-sm-none d-block mt-2"></i>
            </div>
            <div class="col-md-11 col-9">
              <h3 class="card-title mb-0 font-weight-bold">Upgrade Level Panel</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="align-self-center">
            <h1 class="text-dark text-center upgrade-bal-text">Main Balance 60</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <h2 class="font-weight-bold ml-3 mt-3">Upgrade Level</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <select class="form-control select-level" id="type">
              <option value="item1">Level One 1</option>
              <option value="item2">Level Two 2</option>
              <option value="item3">Level Three 3</option>
              <option value="item4">Level Four 4</option>
              <option value="item5">Level Five 5</option>
              <option value="item6">Level Six 6</option>
              <option value="item7">Level Seven 7</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <select class="form-control" id="size">
              <option>Amount Rs 10</option>
              <option>Amount Rs 100</option>
              <option>Amount Rs 500</option>
              <option>Amount Rs 1000</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <button class="btn btn-primary btn-block btn-1">Submit</button>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <h2 class="font-weight-bold">Transaction History</h2>
      </div>
      <div class="table-responsive text-center">
        <table class="table table-hover">
          <tbody>
            <tr class="dash-table-tr">
              <th>Sno</th>
              <th>datetime</th>
              <th>To</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Open Balance</th>
              <th>Close Balance</th>
              <th>Remark</th>
              <th>Status</th>
            </tr>
          </tbody>
          <tbody>
            <tr class="dash-table-tr">
              <td>1</td>
              <td>1</td>
              <td>10</td>
              <td>10</td>
              <td>0</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr class="dash-table-tr">
              <td>1</td>
              <td>1</td>
              <td>10</td>
              <td>10</td>
              <td>0</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr class="dash-table-tr">
              <td>1</td>
              <td>1</td>
              <td>10</td>
              <td>10</td>
              <td>0</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr class="dash-table-tr">
              <td>1</td>
              <td>1</td>
              <td>10</td>
              <td>10</td>
              <td>0</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr class="dash-table-tr">
              <td>1</td>
              <td>1</td>
              <td>10</td>
              <td>10</td>
              <td>0</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr class="dash-table-tr">
              <td>1</td>
              <td>1</td>
              <td>10</td>
              <td>10</td>
              <td>0</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr class="dash-table-tr">
              <td>1</td>
              <td>1</td>
              <td>10</td>
              <td>10</td>
              <td>0</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr class="dash-table-tr">
              <td>1</td>
              <td>1</td>
              <td>10</td>
              <td>10</td>
              <td>0</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#type").change(function() {
      var val = $(this).val();
      if (val == "item1") {
          $("#size").html("<option value='test'>Amount Rs 10</option><option value='test2'>Amount Rs 10</option><option value='test3'>Amount Rs 500</option><option value='test4'>Amount Rs 1000</option>");
      } else if (val == "item2") {
          $("#size").html("<option value='test'>Amount Rs 10</option><option value='test2'>Amount Rs 10</option><option value='test3'>Amount Rs 500</option><option value='test4'>Amount Rs 1000</option>");

      } else if (val == "item3") {
          $("#size").html("<option value='test'>Amount Rs 20</option><option value='test2'>Amount Rs 200</option><option value='test3'>Amount Rs 1000</option><option value='test4'>Amount Rs 2000</option>");

      } else if (val == "item4") {
        $("#size").html("<option value='test'>Amount Rs 80</option><option value='test2'>Amount Rs 800</option><option value='test3'>Amount Rs 4000</option>");

      } else if (val == "item5") {
        $("#size").html("<option value='test'>Amount Rs 640</option>");

      } else if (val == "item6") {
        $("#size").html("<option value='test'>Amount Rs 10240</option>");

      } else if (val == "item7") {
        $("#size").html("<option value='test'>Amount Rs 327680</option>");

      }
    });
  });
</script>