<div class="container">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="card cont-shadow">
        <div class="card-header">
          <div class="row">
            <div class="col-md-1 col-3">
              <i class="fa fa-user edit-header-icon d-sm-block d-none"></i>
              <i class="fa fa-user edit-header-icon d-sm-none d-block mt-2"></i>
            </div>
            <div class="col-md-11 col-9">
              <h3 class="card-title mb-0 font-weight-bold">Upgrade Level Panel</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>
